<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="container col-md-12 cus-margin">
      <div class="card">
        <div class="card-header cus-font">
          Content Detail
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div id="content_detail">
                <%= render 'detail' %>
              </div>
            </div>
          </div>
          </br>
        </div>
      </div>
    </div>
  </div>
</div>