<nav class="navbar navbar-expand-lg navbar-dark background-lightblue">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <%= image_tag asset_path('thinkific_logo.png'), :class => "style_image" %>
      </li>
      <li class="nav-item active">
        <h2 class="text-white">&nbsp;</h2>
      </li>
      <li class="nav-item active">
        <h2 class="text-white">Course Builder System</h2>
      </li>
    </ul>
  </div>
</nav>
</br>
